<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t('.name') %>
    <%= form.text_field :name, placeholder: t('.name_placeholder'), size: 40%>
  </div>

  <div class="field">
    <%= form.label :email, t('.email') %>
    <%= form.text_field :email, placeholder: t('.email_placeholder'), size: 40 %>
  </div>

  <div class="field">
    <%= form.label :address, t('.address') %>
    <%= form.text_area :address, placeholder: t('.address_placeholder'), rows: 3, cols: 40 %>
  </div>

  <div class="field">
    <%= form.label :pay_type_html, t('.payment_method')  %>
    <%= form.select :pay_type_html, Order.pay_types.keys,
                        prompt: t('.prompt') %>
  </div>

  <div id="pay-type-component-id"></div>

  <div class="actions">
    <%= form.submit t('.submit') %>
  </div>
<% end %>
