<section class="depot_form">
  <h1><%= t('.new_order') %></h1>

  <%= render 'form', order: @order %>

  <%= link_to 'Back', orders_path %>
</section>

<%= javascript_pack_tag 'hello_react' %>
<%= javascript_pack_tag 'pay_type' %>
