<% if line_item == @current_line_item %>
  <tr class="highlight-line-item-class">
<% else %>
  <tr>
<% end %>
    <td class="quantity" id="line_item_quantity"><%= line_item.quantity %></td>
    <td>
      <center>

        <%= button_to '+', line_item_path(line_item.id),
                method: :patch,
                remote: true,
                params: {'line_item[quantity]'=> [(line_item.quantity + 1), 10].min } %>

        <%= button_to '-', line_item_path(line_item.id),
                method: :patch,
                remote: true,
                params: {'line_item[quantity]'=> [(line_item.quantity - 1), 1].max } %>
      </center>
    </td>
    <td class="quantity">
      <%= button_to 'X', line_item,
                method: :delete,
                remote: true,
                data: {confirm: 'Are you sure to delete this product?'},
                class: "delete-line-item-button" %>

      <%= form_with(model: line_item, url: line_item_path(line_item.id), method: :patch) do |form| %>
        <%= form.select(:quantity, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]]) %>
        <%= form.submit 'Update', class: "update-line-item-button" %>
      <% end %>

    </td>
    <td class="quantity">&times</td>
    <td class="title">
      <%= line_item.product.try(:title) %>
    </td>
    <td class="price">
      <%= number_to_currency(line_item.total_price) %>
    </td>
  </tr>
