<% if line_item == @current_line_item %>
  <tr class="highlight-line-item-class">
<% else %>
  <tr>
<% end %>
    <td class="quantity"><%= line_item.quantity %></td>
    <td>
      <center>
        <%= form_with(url: line_item_path(line_item.id), method: :patch, remote: true) do %>
          <%= hidden_field :line_item, :quantity, value: [(line_item.quantity + 1), 10].min %>
          <%= button_to '+', data: {confirm: 'Are you sure to descrease this product?', class: ""} %>
        <% end %>
        <%= form_with(url: line_item_path(line_item.id), method: :patch, remote: true) do %>
          <%= hidden_field :line_item, :quantity, value: [(line_item.quantity - 1), 1].max %>
          <%= button_to '-', data: {confirm: 'Are you sure to descrease this product?', class: ""} %>
        <% end %>
      </center>
    </td>
    <td class="quantity">
      <%= button_to 'X', line_item, method: :delete, data: {confirm: 'Are you sure to delete this product?'}, remote: true, class: "delete-line-item-button" %>

      <%= form_with(model: line_item, method: :patch) do |form| %>
        <%= form.select(:quantity, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]]) %>
        <%= form.submit 'Update', class: "update-line-item-button" %>
      <% end %>

    </td>
    <td class="quantity">&times</td>
    <td class="title"><%= line_item.product.title %></td>
    <td class="price"><%= number_to_currency(line_item.total_price) %></td>
  </tr>
