<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<!-- too much logic in a view!!!!!!!! -->
<% unless session[:counter].nil? %>
  <% if session[:counter] > 3 %>
  <h1>Hey, you have been visiting our store <%= pluralize(session[:counter], "time") %>. </h1>
    <p>We know you wanna our book very much.</p>
    <p>So we have a coupon for you.</p>
    <p>Let's buy some book.</p>
  <% end %>
<% end %>

<h1><%= t('.title_html') %></h1>

<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li>
          <%= form_with url: line_items_path(product_id: product, locale: I18n.locale), method: :post, class: "", remote: true do %>
            <%= button_tag image_tag(product.image_url), { style: "float: left;" }%>
          <% end %>
          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <%= t '.product_price_html', price_whole: product.price_whole, price_fraction: product.price_fraction %>
            <%= button_to( t('.add_to_cart'), line_items_path(product_id: product, locale: I18n.locale), remote: true) %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
