<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<!-- too much logic in a view!!!!!!!! -->
<% unless session[:counter].nil? %>
  <% if session[:counter] > 3 %>
  <h1>Hey, you have been visiting our store <%= pluralize(session[:counter], "time") %>. </h1>
    <p>We know you wanna our book very much.</p>
    <p>So we have a coupon for you.</p>
    <p>Let's buy some book.</p>
  <% end %>
<% end %>

<h1><%= t('.title_html') %></h1>

<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li>
          <%= form_with url: line_items_path(product_id: product), method: :post, class: "", remote: true %>
            <%= button_tag image_tag(product.image_url), { style: "float: left;" }%>

          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <%= number_to_currency(product.price) %>
            <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
