<!DOCTYPE html>
<html>
  <head>
    <title>DEPOT: One of many online commercial sites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>"
      I18n.locale = "<%= I18n.locale %>"
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header class="banner">
      <aside class="locale_switcher">
        <%= form_tag store_index_path do %>
          <%= select_tag 'set_locale',
                          options_for_select([['English', 'en'], ['Tiếng Việt', 'vi']], I18n.locale.to_s),
                          onchange: 'this.form.submit()' %>
          <%= submit_tag 'Submit', id: 'submit_locale_change' %>
        <% end %>
      </aside>

      <%= link_to image_tag('online_store.svg', alt: 'The store logo'), store_index_path %>

      <h1>This Is The Store Name</h1>
      <h1><%= @page_title %></h1>

      <div class="wrapper">
        <ul>
          <li><%= link_to t('.home_html'), store_index_path %></li>
          <li><%= link_to t('.questions_html'), store_index_path %></li>
          <li><%= link_to t('.contact_html'), store_index_path %></li>
        </ul>

        <% if session[:user_id] %>
          <nav class="logged-in-nav-bar">
            <ul>
              <li><%= link_to 'Orders', orders_path %></li>
              <li><%= link_to 'Users', users_path %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to "Line Items", line_items_path %></li>
              <li><%= button_to 'SIGN OUT', logout_path, method: :delete %></li>
            </ul>
          </nav>
        <% end %>
      </div>
    </header>

    <section class="content">
      <nav class="side_bar">

        <% if @cart && @cart.line_items.any? %>
          <div class="carts" id="side_cart">
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        <% elsif @cart %>
          <div class="carts" id="side_cart_first_empty">
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        <% end %>

        <div id="test-time">
          Store Controller:
          <br>
          <%= @time %>
        </div>
        <div id="test-time">
          App Controller:
          <br>
          <%= ApplicationController.time %>
        </div>

      </nav>

      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
