<!DOCTYPE html>
<html>
  <head>
    <title>DEPOT: One of many online commercial sites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="banner">
      <a href="/">
        <%= image_tag 'online_store.svg', alt: 'The store logo'  %>
      </a>
      <h1>This Is The Store Name</h1>
      <h1><%= @page_title %></h1>
    </header>

    <section>
      <nav class="side_bar">

        <% if @cart && @cart.line_items.any? %>
          <div class="carts" id="side_cart">
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        <% elsif @cart %>
          <div class="carts" id="side_cart_first_empty">
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        <% end %>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/carts">Carts</a></li>
          <li><a href="/line_items">Line&nbspItems</a></li>
        </ul>

        <div id="test-time">
          Store Controller:
          <br>
          <%= @time %>
        </div>
        <div id="test-time">
          App Controller:
          <br>
          <%= ApplicationController.time %>
        </div>

      </nav>

      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>

  </body>
</html>
